<!DOCTYPE html>
<html>
    <head>
        <title>Demo AngularJS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
        <script src="aplikasi.js"></script>
  
    </head>
    <body ng-app ng-controller="HaloController">
        <h1>Demo AngularJS</h1>

        Nama : <input type="text" ng-model="nama"> <br>
        Halo {{nama}}
        <br>
        Tambah email : <input type="text" ng-model="email"> <button ng-click="tambahEmail(email)">+</button><br>

        <div>
            Daftar Email : 

            <ul>
                <li ng-repeat="x in daftarEmail">{{x}}</li>
            </ul>
        </div>


    </body>
</html>
