<!DOCTYPE html>
<html>
    <head>
        <title>Demo AngularJS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
        <script src="aplikasi.js"></script>
  
    </head>
    <body ng-app ng-controller="HaloController">
        <h1>Demo AngularJS</h1>

        Nama : <input type="text" ng-model="nama"> <br>
        Halo {{nama}}
        <br>
        Tambah email : <input type="text" ng-model="email"> <button ng-click="tambahEmail(email)">+</button><br>

        <div>
            Daftar Email : 

            <table border=1>
               <tr ng-repeat="x in daftarEmail">
                <td>{{x}}</td>
                <td>
                    <button ng-click="edit(x)">edit</button>
                    <button ng-click="hapus(x)">hapus</button></td>
               </tr>
            </table>
        </div>


    </body>
</html>
