<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <resource-ref>
      <description>Koneksi Database</description>
      <res-ref-name>jdbc/belajarDB</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>

	<servlet>
		<servlet-name>Halo</servlet-name>
		<servlet-class>
			com.muhardin.endy.servlet.HaloServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Halo</servlet-name>
		<url-pattern>/halo</url-pattern>
	</servlet-mapping>
        
        <servlet>
		<servlet-name>ContohError</servlet-name>
		<servlet-class>
			com.muhardin.endy.servlet.ErrorServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Kontak</servlet-name>
		<servlet-class>
			com.muhardin.endy.servlet.KontakServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Kontak</servlet-name>
		<url-pattern>/kontak/list</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ContohError</servlet-name>
		<url-pattern>/oops</url-pattern>
	</servlet-mapping>
        
        <error-page>
            <error-code>404</error-code>
            <location>/error-pages/404.html</location>
        </error-page>
        
        <error-page>
            <error-code>500</error-code>
            <location>/error-pages/500.html</location>
        </error-page>

</web-app>
